body {
  background: rgb(101, 63, 80);
  background: linear-gradient(
    274deg,
    rgba(101, 63, 80, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.button-space {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 12px;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 45%;
  height: 280px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: none;
  justify-content: center;
} */

.box {
  border: 1px solid black;
  /* display: flex; */
  /* height: 45px; */
  /* width: 45px; */
  transition: background-color 0.7s;
}

.box:hover {
  background-color: crimson;
}

.box:not(:hover) {
  background-color: transparent;
}
